<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>data as rows in database</h1>
    <table border = "1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Mobile number</th>
                <th>Hostel Name</th>
                <th>Hostel Number</th>
                <th>Date</th>
                <th>Date of Leaving</th>
                <th>Place</th>
                <th>Leaving Time</th>
                <th>Return Time</th>
                <th>Parent number</th>
                <th>Program</th>
                <th>Reason</th>
            </tr>
        </thead>
        <tbody>
            {% for outpass in users %}
            <tr>
                <td>{{ outpass.id}}</td>
                <td>{{ outpass.name }}</td>
                <td>{{ outpass.mobile }}</td>
                <td>{{ outpass.hostel_name }}</td>
                <td>{{ outpass.hostel_number }}</td>
                <td>{{ outpass.date }}</td>
                <td>{{ outpass.leaving_date}}</td>
                <td>{{ outpass.place }}</td>
                <td>{{ outpass.leaving_time}}</td>
                <td>{{ outpass.return_time }}</td>
                <td>{{ outpass.parent_mobile}}</td>
                <td>{{ outpass.program }}</td>
                <td>{{ outpass.reason }}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    
</body>
</html>