<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login for admin</title>
</head>
<body>
    <h1>Admin Login</h1>

    <div class = "container">
        <form method="POST">
            <label for="email">Email</label>
            <input type="text" name = "emailaddrs" class = "form-control" id = "emailaddrs" required>

            <label for="email">Password</label>
            <input type="password" name = "psskey" class = "form-control" id = "psskey" required>

            <button type = "submit" class = "btn form-control btn-default">Login</button>
        </form>

    </div>
    
</body>
    
</body>
</html>