<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/error.css') }}">
    <title>404 - Page not found</title>
</head>
<body>
    <div class = "error-container">
        <b><h1>No Life Found!</h3></b>
        <b><h2>It might be a typo or the page you want to go does not exist or maybe move to another address</h1></b>
    </div>
    <b><a href="/">Go Home</a></b>

    
</body>
</html>
