<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outpass</title>
    <h1>Outpass Submittion</h1>
</head>
<body>
    <div class = "container">
        <form method="POST">
            <label for="email">Your name</label>
            <input type="text" name = "uname" class = "form-control" id = "uname">
            <br>
            <br>

            <label for="email">Mobile number</label>
            <input type="text" name = "num" class = "form-control" id = "num">
            <br>
            <br>

            <label for="email">Hostel name</label>
            <input type="text" name = "hname" class = "form-control" id = "hname">
            <br>
            <br>

            <label for="email">Hostel number</label>
            <input type="text" name = "hnum" class = "form-control" id = "hnum">
            <br>
            <br>

            <label for="email">Date</label>
            <input type="date" name = "tarikh" class = "form-control" id = "tarikh">
            <br>
            <br>

            <label for="email">Date of Leaving</label>
            <input type="date" name = "ldate" class = "form-control" id = "ldate">
            <br>
            <br>

            <label for="email">Place to visit</label>
            <input type="text" name = "vplace" class = "form-control" id = "vplace">
            <br>
            <br>

            <label for="email">Time of leaving</label>
            <input type="time" name = "ltime" class = "form-control" id = "ltime" max = "17:00">
            <br>
            <small>Leaving hours are upto 5pm</small>
            <br>
            <br>

            <label for="email">Time of cumming</label>
            <input type="time" name = "ctime" class = "form-control" id = "ctime" max = "19:30">
            <br>
            <br>

            <label for="email">Your parent's mobile number</label>
            <input type="number" name="pnum" id="pnum" class = "form-control">
            <br>
            <br>

            <label for="email">Program</label>
            <input type="text" name="prgm" id="prgm">
            <br>
            <br>

            <label for="email">Reason</label>
            <br>
            <textarea name="rson" id="rson" rows="5" cols="30"
            placeholder="Comment your reason">

            
            </textarea>
            <br>
            <br>

        
            <button type = "submit" class = "btn form-control btn-default">Submit</button>
   
        </form>

    </div>
    
</body>
</html>