<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>title of the site</title>
    <h1>Home page</h1>
</head>
<body>
    <div>
        <ul>
             <a href = /login class = "btn form-control btn-success">Login</a>
             <a href="/signup" class = "btn form-control btn-success">Sign-up</a>
             <a href="/form" class = "btn form-control btn-success">Outpass</a>
             <a href="/about" class = "btn form-control btn-success">About</a>
             <a href="{{ url_for('logout') }}">Logout</a>

            </ul>

        </div>
        <footer>
            {% if current_user.is_authenticated %}
            <p>you logged-in as {{ current_user.username }}</p>
            {% endif %}

        </footer>
    
    
</body>
</html>