<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup.css') }}">
    <!-- <link rel="stylesheet" href="/site_code/static/styles/signup.css"> -->
</head>
<body>
    <div class = "container">
        <h1>Login</h1>
        <form method="POST">
            <label for="email">Email</label>
            <input type="text" name = "usrname" class = "form-control" id = "usrname" required>

            <label for="email">Password</label>
            <input type="password" name = "pssword" class = "form-control" id = "pssword" required>

            <button type = "submit" class = "btn form-control btn-default">Login</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h3>{{ message }}</h3>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body%}{% endblock %}
        <a href="/signup">New User?</a>

    </div>
    
</body>
</html>
