<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <h1>Login</h1>
</head>
<body>
    <div class = "container">
        <form method="POST">
            <label for="email">Email</label>
            <input type="text" name = "usrname" class = "form-control" id = "usrname">

            <label for="email">Password</label>
            <input type="password" name = "pssword" class = "form-control" id = "pssword">

            <button type = "submit" class = "btn form-control btn-default">Login</button>
        </form>

    </div>
    
</body>
</html>