<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/signup.css') }}">
    <!-- <link rel="stylesheet" href="/site_code/static/styles/signup.css"> -->
</head>
<body>
    <div class = "container">
        <h1>Sign-up</h1>
        <form method = "POST">
            <label for="email">Name</label>
            <input type="text" name = "usrname" class = "form-control" id = "usrname" required>
            <br>
            <br>

            <label for="email">Email</label>
            <input type="text" name = "emailadds" class = "form-control" id = "emailadds" required>
            <br>
            <br>

            <label for="email">Password</label>
            <input type="password" name = "pssword" class = "form-control" id = "pssword" required>
            <br>
            <br>

            <button type = "submit" class = "btn form-control btn-default">Sign-up</button>

        </form>

        <a href="/login">Login into existing account</a>

    </div>

    
</body>
</html>
